%!TEX TS-program = xelatex
\documentclass[]{friggeri-cv}

\begin{document}
\header{\VAR{full_name}}{}
       {\BLOCK{ if experience }\VAR{experience[0].role}\BLOCK{ else }Professional\BLOCK{ endif }}

\begin{aside}
  \section{contact}
    \VAR{location|default('')}
    ~
    \VAR{phone|default('')}
    \href{mailto:\VAR{email}}{\VAR{email}}
    \BLOCK{ if linkedin }\href{\VAR{linkedin}}{LinkedIn}\BLOCK{ endif }
    \BLOCK{ if github }\href{\VAR{github}}{GitHub}\BLOCK{ endif }
  \section{skills}
    \BLOCK{ for cat in skill_categories }
    ~ \textbf{\VAR{cat.category_name}}
    \VAR{cat.skills|join(', ')}
    \BLOCK{ endfor }
    \BLOCK{ if not skill_categories and skills }
    \VAR{skills|join(', ')}
    \BLOCK{ endif }
  \BLOCK{ if certifications }
  \section{certifications}
    \BLOCK{ for cert in certifications }
    \textbf{\VAR{cert.name}}
    \VAR{cert.issuer|default('')}
    \BLOCK{ endfor }
  \BLOCK{ endif }
\end{aside}

\BLOCK{ if summary }
\section{about}
\VAR{summary}
\BLOCK{ endif }

\BLOCK{ if experience }
\section{experience}
\begin{entrytable}
\BLOCK{ for exp in experience }
  \entry
    {\VAR{exp.start_date} -- \VAR{exp.end_date|default('Present')}}
    {\VAR{exp.role}}
    {\VAR{exp.company}}
    {
      \begin{itemize}
        \BLOCK{ for b in exp.bullets }
        \item \VAR{b}
        \BLOCK{ endfor }
      \end{itemize}
    }
\BLOCK{ endfor }
\end{entrytable}
\BLOCK{ endif }

\BLOCK{ if education }
\section{education}
\begin{entrytable}
\BLOCK{ for edu in education }
  \entry
    {\VAR{edu.start_date} -- \VAR{edu.end_date|default('Present')}}
    {\VAR{edu.degree}}
    {\VAR{edu.institution}}
    {\BLOCK{ if edu.gpa }GPA: \VAR{edu.gpa}\BLOCK{ endif }}
\BLOCK{ endfor }
\end{entrytable}
\BLOCK{ endif }

\BLOCK{ if projects }
\section{projects}
\begin{entrytable}
\BLOCK{ for proj in projects }
  \entry
    {\VAR{proj.technologies|default('')}}
    {\VAR{proj.title}}
    {}
    {\VAR{proj.description|default('')}}
\BLOCK{ endfor }
\end{entrytable}
\BLOCK{ endif }

\end{document}
