%!TEX TS-program = xelatex
\documentclass[]{deedy-resume-openfont}
\usepackage{fancyhdr}
\pagestyle{fancy}
\fancyhf{}

\begin{document}

\namesection{\VAR{full_name}}{}{
\BLOCK{ if website }\urlstyle{same}\href{\VAR{website}}{\VAR{website}} $\vert$ \BLOCK{ endif }
\BLOCK{ if email }\href{mailto:\VAR{email}}{\VAR{email}} $\vert$ \BLOCK{ endif }
\BLOCK{ if phone }\VAR{phone} $\vert$ \BLOCK{ endif }
\BLOCK{ if location }\VAR{location}\BLOCK{ endif }
}

\begin{minipage}[t]{0.33\textwidth}

\BLOCK{ if education }
\section{Education}
\BLOCK{ for edu in education }
\subsection{\VAR{edu.institution}}
\descript{\VAR{edu.degree}}
\location{\VAR{edu.start_date} -- \VAR{edu.end_date|default('Present')} \BLOCK{ if edu.location }| \VAR{edu.location}\BLOCK{ endif }}
\BLOCK{ if edu.gpa }GPA: \VAR{edu.gpa}\\ \BLOCK{ endif }
\sectionsep
\BLOCK{ endfor }
\BLOCK{ endif }

\BLOCK{ if skills or skill_categories }
\section{Skills}
\BLOCK{ for cat in skill_categories }
\subsection{\VAR{cat.category_name}}
\VAR{cat.skills|join(', ')}\\
\sectionsep
\BLOCK{ endfor }
\BLOCK{ if not skill_categories and skills }
\subsection{Core}
\VAR{skills|join(', ')}\\
\sectionsep
\BLOCK{ endif }
\BLOCK{ endif }

\BLOCK{ if certifications }
\section{Certifications}
\BLOCK{ for cert in certifications }
\textbf{\VAR{cert.name}}\\
\descript{\VAR{cert.issuer|default('')}}
\location{\VAR{cert.date_obtained|default('')}}
\sectionsep
\BLOCK{ endfor }
\BLOCK{ endif }

\end{minipage}
\hfill
\begin{minipage}[t]{0.65\textwidth}

\BLOCK{ if summary }
\section{Summary}
\descript{}
\small{\VAR{summary}}
\sectionsep
\BLOCK{ endif }

\BLOCK{ if experience }
\section{Experience}
\BLOCK{ for exp in experience }
\runsubsection{\VAR{exp.company}}
\descript{| \VAR{exp.role}}
\location{\VAR{exp.start_date} -- \VAR{exp.end_date|default('Present')} \BLOCK{ if exp.location }| \VAR{exp.location}\BLOCK{ endif }}
\begin{tightemize}
    \BLOCK{ for b in exp.bullets }
    \item \VAR{b}
    \BLOCK{ endfor }
\end{tightemize}
\sectionsep
\BLOCK{ endfor }
\BLOCK{ endif }

\BLOCK{ if projects }
\section{Projects}
\BLOCK{ for proj in projects }
\runsubsection{\VAR{proj.title}}
\descript{\BLOCK{ if proj.technologies }| \VAR{proj.technologies}\BLOCK{ endif }}
\begin{tightemize}
    \BLOCK{ if proj.description }\item \VAR{proj.description}\BLOCK{ endif }
    \BLOCK{ for b in proj.bullets }\item \VAR{b}\BLOCK{ endfor }
\end{tightemize}
\sectionsep
\BLOCK{ endfor }
\BLOCK{ endif }

\end{minipage}
\end{document}
