\documentclass[11pt,a4paper,sans]{moderncv}

\moderncvstyle{classic}
\moderncvcolor{blue}

\usepackage[scale=0.8]{geometry}

\name{\VAR{full_name}}{}
\title{\BLOCK{ if experience }\VAR{experience[0].role}\BLOCK{ else }Curriculum Vitae\BLOCK{ endif }}
\address{\VAR{location|default('')}}{}{}
\phone[mobile]{\VAR{phone|default('')}}
\email{\VAR{email}}
\BLOCK{ if website }\homepage{\VAR{website}}\BLOCK{ endif }

\begin{document}
\makecvtitle

\BLOCK{ if summary }
\section{Summary}
\cvitem{}{\VAR{summary}}
\BLOCK{ endif }

\BLOCK{ if experience }
\section{Experience}
\BLOCK{ for exp in experience }
\cventry{\VAR{exp.start_date} -- \VAR{exp.end_date|default('Present')}}{\VAR{exp.role}}{\VAR{exp.company}}{\VAR{exp.location|default('')}}{}{
\begin{itemize}
    \BLOCK{ for b in exp.bullets }
    \item \VAR{b}
    \BLOCK{ endfor }
\end{itemize}
}
\BLOCK{ endfor }
\BLOCK{ endif }

\BLOCK{ if education }
\section{Education}
\BLOCK{ for edu in education }
\cventry{\VAR{edu.start_date} -- \VAR{edu.end_date|default('Present')}}{\VAR{edu.degree}}{\VAR{edu.institution}}{\VAR{edu.location|default('')}}{\BLOCK{ if edu.gpa }GPA: \VAR{edu.gpa}\BLOCK{ endif }}{}
\BLOCK{ endfor }
\BLOCK{ endif }

\BLOCK{ if projects }
\section{Projects}
\BLOCK{ for proj in projects }
\cvitem{\VAR{proj.title}}{
  \BLOCK{ if proj.technologies }\textit{\VAR{proj.technologies}} -- \BLOCK{ endif }
  \VAR{proj.description|default('')}
  \BLOCK{ if proj.bullets }
  \begin{itemize}
    \BLOCK{ for b in proj.bullets }\item \VAR{b}\BLOCK{ endfor }
  \end{itemize}
  \BLOCK{ endif }
}
\BLOCK{ endfor }
\BLOCK{ endif }

\BLOCK{ if skills or skill_categories }
\section{Computer Skills}
\BLOCK{ for cat in skill_categories }
\cvitem{\VAR{cat.category_name}}{\VAR{cat.skills|join(', ')}}
\BLOCK{ endfor }
\BLOCK{ if not skill_categories and skills }
\cvitem{Skills}{\VAR{skills|join(', ')}}
\BLOCK{ endif }
\BLOCK{ endif }

\BLOCK{ if certifications }
\section{Certifications}
\BLOCK{ for cert in certifications }
\cvitem{\VAR{cert.date_obtained|default('')}}{\textbf{\VAR{cert.name}} -- \VAR{cert.issuer|default('')}}
\BLOCK{ endfor }
\BLOCK{ endif }

\end{document}
