\documentclass[10pt,a4paper,ragged2e,withhyper]{altacv}

\geometry{left=1.2cm,right=1.2cm,top=1.2cm,bottom=1.2cm,columnsep=1cm}
\usepackage{paracol}

\definecolor{SlateGrey}{HTML}{2E2E2E}
\definecolor{LightGrey}{HTML}{666666}
\definecolor{Primary}{HTML}{004E89}
\definecolor{Secondary}{HTML}{1A659E}
\colorlet{name}{Primary}
\colorlet{tagline}{Secondary}
\colorlet{heading}{Primary}
\colorlet{headingrule}{Secondary}
\colorlet{subheading}{Secondary}
\colorlet{accent}{Primary}
\colorlet{emphasis}{SlateGrey}
\colorlet{body}{LightGrey}

\begin{document}
\name{\VAR{full_name}}
\tagline{\BLOCK{ if experience }\VAR{experience[0].role}\BLOCK{ else }Professional\BLOCK{ endif }}

\personalinfo{
  \BLOCK{ if email }\email{\VAR{email}}\BLOCK{ endif }
  \BLOCK{ if phone }\phone{\VAR{phone}}\BLOCK{ endif }
  \BLOCK{ if location }\location{\VAR{location}}\BLOCK{ endif }
  \BLOCK{ if linkedin }\linkedin{\VAR{linkedin}}\BLOCK{ endif }
  \BLOCK{ if github }\github{\VAR{github}}\BLOCK{ endif }
}

\makecvheader

\BLOCK{ if summary }
\cvsection{About}
\VAR{summary}
\medskip
\BLOCK{ endif }

\columnratio{0.65}
\begin{paracol}{2}

\BLOCK{ if experience }
\cvsection{Experience}
\BLOCK{ for exp in experience }
\cvevent{\VAR{exp.role}}{\VAR{exp.company}}{\VAR{exp.start_date} -- \VAR{exp.end_date|default('Present')}}{\VAR{exp.location|default('')}}
\begin{itemize}
    \BLOCK{ for b in exp.bullets }
    \item \VAR{b}
    \BLOCK{ endfor }
\end{itemize}
\divider
\BLOCK{ endfor }
\BLOCK{ endif }

\BLOCK{ if projects }
\cvsection{Projects}
\BLOCK{ for proj in projects }
\cvevent{\VAR{proj.title}}{\VAR{proj.technologies|default('')}}{}{}
\begin{itemize}
    \BLOCK{ if proj.description }\item \VAR{proj.description}\BLOCK{ endif }
    \BLOCK{ for b in proj.bullets }\item \VAR{b}\BLOCK{ endfor }
\end{itemize}
\divider
\BLOCK{ endfor }
\BLOCK{ endif }

\switchcolumn

\BLOCK{ if education }
\cvsection{Education}
\BLOCK{ for edu in education }
\cvevent{\VAR{edu.degree}}{\VAR{edu.institution}}{\VAR{edu.start_date} -- \VAR{edu.end_date|default('Present')}}{\VAR{edu.location|default('')}}
\BLOCK{ if edu.gpa }\textbf{GPA:} \VAR{edu.gpa}\BLOCK{ endif }
\divider
\BLOCK{ endfor }
\BLOCK{ endif }

\BLOCK{ if skills or skill_categories }
\cvsection{Skills}
\BLOCK{ for cat in skill_categories }
\textbf{\VAR{cat.category_name}}\\
\BLOCK{ for s in cat.skills }
\cvtag{\VAR{s}}
\BLOCK{ endfor }
\smallskip\\
\BLOCK{ endfor }
\BLOCK{ if not skill_categories and skills }
\BLOCK{ for s in skills }
\cvtag{\VAR{s}}
\BLOCK{ endfor }
\BLOCK{ endif }
\medskip
\BLOCK{ endif }

\BLOCK{ if certifications }
\cvsection{Certifications}
\BLOCK{ for cert in certifications }
\textbf{\VAR{cert.name}}\\
\small{\VAR{cert.issuer|default('')} \hfill \VAR{cert.date_obtained|default('')}}
\divider
\BLOCK{ endfor }
\BLOCK{ endif }

\end{paracol}
\end{document}
